.slotContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  padding: 1rem;
  p {
    margin: 0;
  }

  cursor: pointer;

  border: 1px solid transparent;
}

.hideShadow {
  box-shadow: none;
}

.lightColor {
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.deleteSlotBtn {
  transform: "scale(0.7)";
}

.outlined {
  border: 1px solid var(--pico-primary-background);
}
